# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.tfvars.backup
.terraform.lock.hcl
override.tf
override.tf.json

# Node
node_modules/
coverage/
*.log
npm-debug.log*

# Environment
.env
.env.*
!.env.example

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
